@import "tailwindcss";
/*main color = #FF3200 */

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

.custom-swiper-pagination .swiper-pagination-bullet {
  background-color: gray;
  opacity: 1;
}

.custom-swiper-paginations .swiper-pagination {
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.custom-swiper-paginations .swiper-pagination-bullet-active {
  background-color: #ff3200;
}
.custom-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ff3200;
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

@layer components {
  .activeLink {
    @apply underline decoration-[#FF3200] !font-bold;
  }
}

.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border: 2px solid #d1d5db; /* لون الحدود الرمادي */
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
}
.custom-checkbox:checked {
  background-color: #ff3200;
  border-color: #ff3200;
}
.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 15px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}



.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 0;
  background: #FF3D00;
  width: 3px;
  height: 24px;
  transform: translateX(-50%);
}
    



.loaderO {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loaderO:after {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% { transform: translate(-50%, -50%) scale(0) }
  60% , 100% { transform: translate(-50%, -50%)  scale(1)}
}
@keyframes pulse {
  0% , 60% , 100%{ transform:  scale(1) }
  80% { transform:  scale(1.2)}
}


@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 